.shoebox {
    align-items: start;
    display: flex;
}

.shoebox_picture {
    margin-right: 16px;
    width: 400px;
}

.shoebox_writing {
    flex: 1;
}

.container {
    align-items: center;
    display: flex;
    position: relative;
}

.container_content {
    background: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container_separator {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 1px;
    width: 100%;
}